In [1]:
import pandas as pd
import os

In [60]:
logs_df = pd.read_csv("../../data/memory_sample_kernel_log_round1_a_train.csv")
failure_df = pd.read_csv("../../data/memory_sample_failure_tag_round1_a_train.csv")

In [61]:
# 转换日期时间格式
logs_df['collect_time'] = pd.to_datetime(logs_df['collect_time'], format='%Y-%m-%d %H:%M:%S')
failure_df['failure_time'] = pd.to_datetime(failure_df['failure_time'], format='%Y/%m/%d %H:%M')

In [62]:
# 合并数据集
merged_data = pd.merge(logs_df, failure_df, on='serial_number', how='left')

In [63]:
# 检查failure_time是否在collect_time的未来7天内
merged_data['target'] = (merged_data['failure_time'] - merged_data['collect_time']).dt.total_seconds() / (60 * 60 * 24)
merged_data['target'] = (merged_data['target'] >= 0) & (merged_data['target'] <= 7)

In [64]:
# 将目标列转换为整数类型
merged_data['target'] = merged_data['target'].astype(int)

# 删除不再需要的列
merged_data = merged_data.drop(columns=['failure_time'])

         collect_time  1_hwerr_f  1_hwerr_e  2_hwerr_c  2_sel  3_hwerr_n  \
0 2019-01-14 18:19:01        NaN        NaN        NaN    NaN        NaN
1 2019-01-14 18:20:03        NaN        NaN        NaN    NaN        NaN
2 2019-01-14 18:25:51        NaN        NaN        NaN    NaN        NaN
3 2019-01-14 18:29:57        NaN        NaN        NaN    NaN        NaN
4 2019-01-14 18:32:08        NaN        NaN        NaN    NaN        NaN

   2_hwerr_s  3_hwerr_m  1_hwerr_st  1_hw_mem_c  ...  3_hwerr_pi  3_hwerr_o  \
0        NaN        NaN         NaN         NaN  ...         NaN        NaN
1        NaN        NaN         NaN         NaN  ...         NaN        NaN
2        NaN        NaN         NaN         NaN  ...         NaN        NaN
3        NaN        NaN         NaN         NaN  ...         NaN        NaN
4        NaN        NaN         NaN         NaN  ...         NaN        NaN

   3_hwerr_mce_l  serial_number  manufacturer_x  vendor_x  tag  \
0            NaN   server_31576               0       1.0  1.0
1            NaN   server_31576               0       1.0  1.0
2            NaN   server_31576               0       1.0  1.0
3            NaN   server_31576               0       1.0  1.0
4            NaN   server_31576               0       1.0  1.0

   manufacturer_y  vendor_y  target
0             0.0       1.0       1
1             0.0       1.0       1
2             0.0       1.0       1
3             0.0       1.0       1
4             0.0       1.0       1

[5 rows x 32 columns]

In [66]:
# 填充缺失值为0
merged_data.fillna(0, inplace=True)

# 再次显示数据集的前几行，确认修改
merged_data.head()

,collect_time,1_hwerr_f,1_hwerr_e,2_hwerr_c,2_sel,3_hwerr_n,2_hwerr_s,3_hwerr_m,1_hwerr_st,1_hw_mem_c,...,3_hwerr_pi,3_hwerr_o,3_hwerr_mce_l,serial_number,manufacturer_x,vendor_x,tag,manufacturer_y,vendor_y,target
0,2019-01-14 18:19:01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,server_31576,0,1.0,1.0,0.0,1.0,1
1,2019-01-14 18:20:03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,server_31576,0,1.0,1.0,0.0,1.0,1
2,2019-01-14 18:25:51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,server_31576,0,1.0,1.0,0.0,1.0,1
3,2019-01-14 18:29:57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,server_31576,0,1.0,1.0,0.0,1.0,1
4,2019-01-14 18:32:08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,server_31576,0,1.0,1.0,0.0,1.0,1

In [67]:
merged_data.shape

(3511864, 32)

In [13]:
merged_df.to_csv('../../new_data/merged_dataset.csv', index=False)

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3511864 entries, 0 to 3511863
Data columns (total 32 columns):
 #   Column          Dtype
---  ------          -----
 0   collect_time    datetime64[ns]
 1   1_hwerr_f       float64
 2   1_hwerr_e       float64
 3   2_hwerr_c       float64
 4   2_sel           float64
 5   3_hwerr_n       float64
 6   2_hwerr_s       float64
 7   3_hwerr_m       float64
 8   1_hwerr_st      float64
 9   1_hw_mem_c      float64
 10  3_hwerr_p       float64
 11  2_hwerr_ce      float64
 12  3_hwerr_as      float64
 13  1_ke            float64
 14  2_hwerr_p       float64
 15  3_hwerr_kp      float64
 16  1_hwerr_fl      float64
 17  3_hwerr_r       float64
 18  _hwerr_cd       float64
 19  3_sup_mce_note  float64
 20  3_cmci_sub      float64
 21  3_cmci_det      float64
 22  3_hwerr_pi      float64
 23  3_hwerr_o       float64
 24  3_hwerr_mce_l   float64
 25  serial_number   object
 26  manufacturer_x  int64
 27  vendor_x        float64
 28  failure_time    object
 29  tag             float64
 30  manufacturer_y  float64
 31  vendor_y        float64
dtypes: datetime64[ns](1), float64(28), int64(1), object(2)
memory usage: 857.4+ MB

In [15]:
sample = merged_df.sample(n=20000,random_state=42)
sample.to_csv('../../new_data/merged_df.csv', index=False)